!!! 5
html.no-han-init(lang='zh-Hant')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width')
    meta(name='description', content='')
    meta(name='author', content='')
    title()
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.3.9/d3.min.js')
    //if lte IE 7
      script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js')
    //if lte IE 8
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  body.index
